body {
    padding-top: 130px !important;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.table tr th {
    background: #428bca;
    color: #FFF;
}

    .table tr th:first-child {
        border-radius: 10px 0px 0px 0px;
        -moz-border-radius: 5px 0px 0px 0px;
    }

    .table tr th:last-child {
        border-radius: 0px 10px 0px 0px;
        -moz-border-radius: 0px 5px 0px 0px;
    }

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table tr:nth-child(odd) {
    background: #fbfbfb;
}

.loginContainer {
    margin: 120px auto 0px auto;
    float: none !important;
    width: 390px;
}


.ui-draggable, .ui-droppable {
	background-position: top;
}
